.networkFee {
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;
  border-top: 0.5px solid var(--color-border-subtle);
}

.networkFee .card {
  height: 72px; 
  width: calc(100% - 24px);
  padding-inline: var(--space-12);
  border: 1px solid var(--color-bg-subtle);
  border-radius: var(--radius-md);
  cursor: pointer;
  min-height: 72px;
  overflow: hidden;
}

.networkFee .card:hover {
  border-color: var(--color-text-primary);
}

.networkFee .card.check {
  border-color: var(--color-text-primary);
}

.networkFee .costom {
  height: 384px; 
  min-height: 384px;
  margin-bottom: 16px;
}

.networkFee .fade-in-text {
  opacity: 0;
  animation: fadeIn 3s forwards;
}

.network-fee-list {
  height: calc(100% - 10px);
  overflow: auto;
  padding: 24px 16px 0;
}

.network-fee-speed {
  margin-left: 8px;
}

.network-fee-usd {
  width: 125px;
}

.network-fee-custom-header {
  min-height: 72px;
}

.network-fee-custom-form {
  width: 100%;
  padding-block: var(--space-16);
  border-top: 1px solid var(--color-bg-subtle);
}

.network-fee-label-main {
  font-size: var(--font-size-xs);
  font-weight: 500;
}

.network-fee-label-tip {
  font-weight: 500;
}

.network-fee-input {
  height: 32px;
}

.network-fee-submit-btn {
  width: 100%;
  height: var(--control-height-lg);
  border-radius: var(--radius-pill);
  font-weight: 500;
  font-size: var(--font-size-lg);
}
