.generate-steps {
  max-width: 446px;
  min-height: 600px;
  height: auto;
  margin-inline: auto;
  padding: 24px 20px 24px;
  box-sizing: border-box;
}

.generate-steps-header {
  width: 100%;
  margin-bottom: 26px;
}

.generate-steps-back-icon {
  cursor: pointer;
}

.generate-steps-header-placeholder {
  width: 48px;
}

.generate-steps-progress {
  width: 100%;
}

.generate-steps-tip {
  width: 100%;
  margin-top: 26px;
}

.generate-steps-progress-btn {
  height: var(--control-height-sm);
}
